{% extends "::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/User.css') }}" />
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3 utilisateur">
        <div class="icone">
            <a href="{{ path('fos_user_profile_edit') }}">
                <span class="glyphicon glyphicon glyphicon-pencil fa-lg" aria-hidden="true"></span>
            </a>
        </div>
        <img class="img-circle bordure" src="{{ base_url }}/img/boy.png" alt="Generic placeholder image" width="140" height="140">
        <h2>{{ user.username |upper }}</h2>
        
    </div>
        <div class="col-md-1"></div>    
    <div class="col-md-6 information">
        <h2>INFORMATION</h2>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <p>Adresse : {{ user.address }}</p>
        <p>Nom : {{ user.nom }}</p>
    </div>
    <div class="col-md-1"></div>
</div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 projet">
            <h2>PROJETS</h2>    
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}        