{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ficheentreprise.css') }}" />
 <link rel="stylesheet" href="{{ asset('css/listentreprise.css') }}" />
   <link rel="stylesheet" href="{{ asset('css/listenjeux.css') }}" />
 <link rel="stylesheet" href="{{ asset('css/User.css') }}" />
{% endblock %}
{% block body %}
    {# you can read and display just one flash message type... #}
    {% for flash_message in app.session.flashBag.get('notice') %}
    <div class="alert alert-warning text-center">
        {{ flash_message }}
    </div>
    {% endfor %} 
<!-- debut fiche entreprise-->
<section class="content">

    <div class="nouvelleEntreprise">
         <a class="close-exigence" href="{{ base_url }}/projets/{{project.id}}"><img src="{{ asset('img/close.svg') }}" class="picto" alt="Retour" title="Retour"></a>
        <a href="{{ base_url }}/projets/{{project.id}}/enjeux/add">
            <i class="glyphicon glyphicon-plus fa-2x"></i>            
        </a>
    </div>

    <div class="container-fiche row">
<div class="col-md-12 nopadding projetheader">
    <div class="banner-enjeux align-middle">
        <h1>Enjeux</h1>
    </div>
</div>
{% for enjeu in enjeux %}
        <div class="item  col-md-6">
            <div class="enjeu-card">
                {% if enjeu.priorite == "Must" %}
                            <div class="title red-exigence row">

                        {% elseif enjeu.priorite == "Should" %}
                            <div class="title orange-exigence row">

                        {% elseif enjeu.priorite == "Wont" %}
                            <div class="title green-exigence row">

                        {% else %}
                            <div class="title white-exigence row">

                        {% endif %}
                
                    <div class="picto-card-enjeu picto-card-enjeu-archive">
                    <a href="#"><img src="{{ asset('img/archive.svg') }}" class="picto-little" alt="Archiver" title="Archiver"></a>

                    </div>
                    <div class="picto-card-enjeu picto-card-enjeu-edit">
                    <a href="{{ base_url }}/projets/{{project.id}}/enjeux/{{enjeu.id}}/edit"><img src="{{ asset('img/edit.svg') }}" class="picto-little" alt="Editer" title="Editer" /></a>
                    </div>
                    <div class="titre-enjeux">
                        <h3> <a href="{{ base_url }}/projets/{{project.id}}/enjeux/{{enjeu.id}}">{{ enjeu.nom }} </a></h3>
                    </div>
                
                </div>
                <div class="exigence-infos">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Objectif</p>
                        </div>
                        <div class="col-md-7">
                            {% set firstObjectif = enjeu.objectifs.first() %}
                            {% if firstObjectif is defined and firstObjectif %}
                                {{ firstObjectif.description }}
                            {% endif %}
                        </div>
                        <div class="col-md-2">
                          <button type="button" class="more-objectif" data-toggle="modal" data-target="#myModal{{enjeu.id}}">
                            <img src="{{ asset('img/plus.svg') }}" >
                          </button>

                          <!-- Modal -->
                          <div class="modal fade" id="myModal{{enjeu.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{enjeu.id}}">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel{{enjeu.id}}">Objectifs</h4>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-md-12">
                                      
                                      {% for objectif in enjeu.objectifs %}
                                            <p>
                                                {{objectif.description}}
                                                <span>
                                                    <a href="{{ base_url }}/projets/{{project.id}}/enjeux/{{enjeu.id}}/objectifs/{{objectif.id}}/edit"><img src="{{ asset('img/edit.svg') }}" class="picto-little" alt="Editer" title="Editer" /></a>
                                                    <a href="#"><img src="{{ asset('img/archive.svg') }}" class="picto-little" alt="Archiver" title="Archiver"></a>
                                                    
                                                </span>
                                              
                                            </p>
                                      {% endfor %}
                                      <p><a href="{{ base_url }}/projets/{{project.id}}/enjeux/{{enjeu.id}}/objectifs/add">Ajouter un objectif</a></p>
                                    </div>
                                    
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p>Valeur Cible</p>
                        </div>
                        <div class="col-md-9">
                            {{ enjeu.valeurCible }}
                        </div>
                    </div>
                    <div class="row enjeux-attributes">
                        <div class="col-md-6 enjeux-type">
                            <p><span class="blue-label">Type : </span>{{enjeu.type}}</p>
                        </div>
                        <div class="col-md-6 enjeux-statut">
                            <p><span class="blue-label">Priorité : </span>{{enjeu.priorite}}</p>
                        </div>
                    </div>
                    
                </div>
                
                    
                    
                
            </div>
        </div>
         {% endfor %}
</div>
</section>

<!-- fin fiche entreprise-->
{% endblock %}
