{% extends "::base.html.twig" %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/creationentreprise.css') }}" />

{% endblock %}

{% block body %}
{{ form_start(form, {'attr': {'class': 'form-group'}} ) }}

    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Formulaire de projet</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
          <div class="box-body">
            <div class="form-group">
                {{ form_label(form.nom) }}
                {{ form_errors(form.nom) }}
                {{ form_widget(form.nom) }}
            </div>
            <div class="form-group">
                {{ form_label(form.dateLancement) }}
                {{ form_errors(form.dateLancement) }}
                {{ form_widget(form.dateLancement) }}
            </div>
            <div class="form-group">
                {{ form_label(form.type) }}
                {{ form_errors(form.type) }}
                {{ form_widget(form.type) }}
            </div>
            <div class="form-group">
                {{ form_label(form.besoin) }}
                {{ form_errors(form.besoin) }}
                {{ form_widget(form.besoin) }}
            </div>
            <div class="form-group">
                {{ form_label(form.origine) }}
                {{ form_errors(form.origine) }}
                {{ form_widget(form.origine) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_errors(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <div class="form-group">
                {{ form_label(form.benefices) }}
                {{ form_errors(form.benefices) }}
                {{ form_widget(form.benefices) }}
            </div>
            
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            {{ form_widget(form.enregistrer) }}
          </div>
        
    </div>
    
{{ form_end(form) }}

{% endblock %}
