{% extends "::base.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/ficheentreprise.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/ficheprojet.css') }}" />
{% endblock %}
{% block body %}
<section class="content">
    <div class="row actions-link align-right">
	       <a href="{{ base_url }}/projets/edit/{{project.id}}"><img src="{{ asset('img/edit.svg') }}" class="picto" alt="Editer" title="Editer" /></a>
        <a href="#"><img src="{{ asset('img/archive.svg') }}" class="picto" alt="Archiver" title="Archiver"></a>
        <a href="{{ base_url }}/projets"><img src="{{ asset('img/close.svg') }}" class="picto" alt="Retour" title="Retour"></a>
    </div>
    <div class="row">
        <div class="col-md-12 nopadding projetheader whitebckgd">
        	<div class="banner align-middle">
        		<h2>{{project.nom}}</h2>
        	</div>
  			
  			<div class="col-md-3 projet-info">
          <div class="row row-calendar align-middle">
            <div class="col-md-3 blue-bg align-middle picto-project-left picto-calendar">
              <img src="{{ asset('img/calendar.svg') }}">
            </div>
            <div class="col-md-9 info-calendar">
              <p>{{project.dateLancement|date('d/m/Y')}}</p>
              <p>-</p>
              <p>{% if project.dateFin is not null %}
                {{project.dateFin|date('d/m/Y')}}
              {% else %}
                Indéfini
              {% endif %}
              </p>
            </div>
          </div>

          <div class="row align-middle">
            <div class="col-md-3 blue-bg align-middle picto-project-left picto-team">
              <img src="{{ asset('img/team.svg') }}" class="team">
            </div>
            <div class="col-md-9 info-partieprenante">
              <p><a href="{{ base_url }}/projets/{{project.id}}/partiesprenantes">Parties prenantes</a></p>
            </div>
          </div>          
  			</div> 
  			<div class="col-md-8 projet description">
  				<p>{{project.description}}</p>
  			</div>
        <div class="col-md-1 modal-info-projet">
          
          <button type="button" class="btn btn-primary btn-lg more-info-project" data-toggle="modal" data-target="#myModal">
            <img src="{{ asset('img/plus.svg') }}">
          </button>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Informations complémentaires</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h3>Entreprises</h3>
                      {% for company in project.companies %}
                            <p>
                              <a href="{{ base_url }}/entreprises/{{company.id}}">{{company.raisonSocial}}</a>
                            </p>
                      {% endfor %}
                      <p><a href="{{ base_url }}/projets/{{project.id}}/entreprises">Modifier les entreprises</a></p>
                    </div>
                    
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>   
      </div>
    </div>
    <div class="row align-middle white">
      <!-- Button trigger modal -->

        <div class="col-md-4">
          <div class="col-md-8 col-md-offset-2 blockenjeux">
            <a href="">
              <h2>Enjeux</h2>
              <img src="{{ asset('img/enjeux.png') }}" class="blockimg"/>
            </a>
            
            <div class="voirplus">
              <a href="{{ base_url }}/projets/{{project.id}}/enjeux">Voir plus <img src="{{ asset('img/plus.png') }}" /></a>
            </div>
            <!--<a href="{{ base_url }}/projets/{{project.id}}/enjeux/add">Ajouter un enjeu</a>-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-8 col-md-offset-2 blockexigence">
            <h2>Exigences</h2>
            <img src="{{ asset('img/exigence.png') }}" class="blockimg"/>
              <div class="voirplus">
                <a href="{{ base_url }}/projets/{{project.id}}/exigences">Voir plus <img src="{{ asset('img/plus.png') }}" /></a>
              </div>
            <!--<a href="{{ base_url }}/projets/{{project.id}}/exigences/add">Ajouter une exigence</a>-->
          </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-8 col-md-offset-2 blockaction">
                <h2>Actions</h2>
                <img src="{{ asset('img/Actions.png') }}" class="blockimg"/>
                <div class="voirplus">
                  <a href="{{ base_url }}/projets/{{project.id}}/actions">Voir plus <img src="{{ asset('img/plus.png') }}" /></a>
                </div>
            </div>

            
        </div>
    	

    	
    </div>
    
</section>
<!-- fin fiche entreprise-->

{% endblock %}
