{% extends "::base.html.twig" %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/creationentreprise.css') }}" />

{% endblock %}

{% block body %}
{{ form_start(form, {'attr': {'class': 'form-group'}} ) }}
    <h3>Formulaire d'entreprise</h3>

    <div class="well">
      {{ form_row(form.raisonSocial) }}
    </div>
    <div class="well">
      {{ form_row(form.siret) }}
    </div>
    <div class="well">
      {{ form_row(form.telephone) }}
    </div>
    <div class="well">
      {{ form_row(form.mail) }}
    </div>
    <div class="well">
      {{ form_row(form.address) }}
    </div>

    <div class="form-group">
    
    <div class="col-sm-6">
        {{ form_row(form.description) }}      
    </div>
    
    </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        {{ form_widget(form.enregistrer) }}
    </div>
    </div>
{{ form_end(form) }}

{% endblock %}