{% extends "::base.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/ficheentreprise.css') }}" />
{% endblock %}

{% block body %}
    
<!-- début fiche entreprise-->
<section class="content">
    <div class="row actions-link align-right">
	<a href="{{ base_url }}/entreprises/edit/{{company.id}}"><img src="{{ asset('img/edit.svg') }}" class="picto" alt="Editer" title="Editer"></a>
        <a href="#"><img src="{{ asset('img/archive.svg') }}" class="picto" alt="Archiver" title="Archiver"></a>
        <a href="{{ base_url }}/entreprises"><img src="{{ asset('img/close.svg') }}" class="picto" alt="Retour" title="Retour"></a>
    </div>
    <div class="row">
        <div class="col-md-12 nopadding entrepriseheader whitebckgd">
        	<div class="banner align-middle">
        		<div class="img-entreprise img-circle">
        			<img src="{{ asset('img/company.svg') }}" alt="" title="">
        		</div>
        	</div>
  			<div class="col-md-7">
  				<h1>{{ company.raisonSocial }}</h1>
  				<h2>Description</h2>
  				<p>{{company.description}}</p>
  			</div>  
  			<div class="col-md-5 entreprise-info">
  				<h2>Informations</h2> 
  				<p><img src="{{ asset('img/location.svg') }}" class="picto-little" >{{company.address}}</p>
  				<p><img src="{{ asset('img/mail.svg') }}" class="picto-little" >{{company.mail}}</p>
  				<p><img src="{{ asset('img/telephone.svg') }}" class="picto-little" >{{company.telephone}}</p>
  			</div>  
        </div>
    </div>
    <div class="row ">
    	<div class="first-column whitebckgd">
        <div class="col-md-12">
          <div class="row project-row">
            <div class="col-md-3">
              <p>Projet 1</p>
            </div>
            <div class="col-md-6">
              <p>Date de lancement: 01/01/2017</p>
              <p>Date de fin prévue: 01/01/2017</p>
            </div>
            <div class="col-md-3 project-action">
              <a href="#"><img src="{{ asset('img/voir.svg') }}" class="picto" alt="Voir le projet" title="Voir le projet"></a>
              <a href="#"><img src="{{ asset('img/archive.svg') }}" class="picto" alt="Archiver le projet" title="Archiver le projet"></a>
            </div>
          </div>

          <div class="row project-row">
            <div class="col-md-3">
              <p>Projet 2</p>
            </div>
            <div class="col-md-6">
              <p>Date de lancement: 01/01/2017</p>
              <p>Date de fin prévue: 01/01/2017</p>
            </div>
            <div class="col-md-3 project-action">
              <a href="#"><img src="{{ asset('img/voir.svg') }}" class="picto" alt="Voir le projet" title="Voir le projet"></a>
              <a href="#"><img src="{{ asset('img/archive.svg') }}" class="picto" alt="Archiver le projet" title="Archiver le projet"></a>
            </div>
          </div>

          <div class="row project-row">
            <div class="col-md-3">
              <p>Projet 3</p>
            </div>
            <div class="col-md-6">
              <p>Date de lancement: 01/01/2017</p>
              <p>Date de fin prévue: 01/01/2017</p>
            </div>
            <div class="col-md-3 project-action">
              <a href="#"><img src="{{ asset('img/voir.svg') }}" class="picto" alt="Voir le projet" title="Voir le projet"></a>
              <a href="#"><img src="{{ asset('img/archive.svg') }}" class="picto" alt="Archiver le projet" title="Archiver le projet"></a>
            </div>
          </div>    
        </div>
    	</div>
    	<div class="second-column whitebckgd">
        <div class="row userTitle">
          <h2>Utilisateurs</h2>
          <a href="{{ base_url }}/entreprises/adduser/{{ company.id }}">
              <i class="glyphicon glyphicon-plus fa-2x"></i>            
          </a>
        </div>
    		
        {% for user in company.users %}
          <p>{{ user.nom }}</p>
        {% endfor %}
    	</div>
    </div>
</section>
<!-- fin fiche entreprise-->
    
{% endblock %}
        