{% extends "::base.html.twig" %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/creationentreprise.css') }}" />

{% endblock %}
{% block body %}
    
{{ form_start(companyForm, {'attr': {'class': 'form-group'}} ) }}
    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Formulaire d'entreprise</h3>
        </div>
        <!-- /.box-header -->
        
        
          <div class="box-body">
            <div class="form-group">
                {{ form_label(companyForm.raisonSocial) }}
                {{ form_errors(companyForm.raisonSocial) }}
                {{ form_widget(companyForm.raisonSocial) }}
            </div>
            <div class="form-group">
                {{ form_label(companyForm.siret) }}
                {{ form_errors(companyForm.siret) }}
                {{ form_widget(companyForm.siret) }}
            </div>
            <div class="form-group">
                {{ form_label(companyForm.telephone) }}
                {{ form_errors(companyForm.telephone) }}
                {{ form_widget(companyForm.telephone) }}
            </div>
            <div class="form-group">
                {{ form_label(companyForm.mail) }}
                {{ form_errors(companyForm.mail) }}
                {{ form_widget(companyForm.mail) }}
            </div>
            <div class="form-group">
                {{ form_label(companyForm.address) }}
                {{ form_errors(companyForm.address) }}
                {{ form_widget(companyForm.address) }}
            </div>
            <div class="form-group">
                {{ form_label(companyForm.description) }}
                {{ form_errors(companyForm.description) }}
                {{ form_widget(companyForm.description) }}
            </div>
            
            
            
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            {{ form_widget(companyForm.enregistrer) }}
          </div>
        
    </div>
       
{{ form_end(companyForm) }}
    
{% endblock %}