
{% extends "::base.html.twig" %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/creationentreprise.css') }}" />

{% endblock %}

{% block body %}
{{ form_start(form, {'attr': {'class': 'form-group'}} ) }}
    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Formulaire d'enjeu</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
          <div class="box-body">
              <div class="form-group">
                {{ form_label(form.nom) }}
                {{ form_errors(form.nom) }}
                {{ form_widget(form.nom) }}
            </div>
            <div class="form-group">
                {{ form_label(form.responsable) }}
                {{ form_errors(form.responsable) }}
                {{ form_widget(form.responsable) }}
            </div>
            <div class="form-group">
                {{ form_label(form.visibilite) }}
                {{ form_errors(form.visibilite) }}
                {{ form_widget(form.visibilite) }}
            </div>
            <div class="form-group">
                {{ form_label(form.datedebut) }}
                {{ form_errors(form.datedebut) }}
                {{ form_widget(form.datedebut) }}
            </div>
            <div class="form-group">
                {{ form_label(form.echeancePrevue) }}
                {{ form_errors(form.echeancePrevue) }}
                {{ form_widget(form.echeancePrevue) }}
            </div>
            <div class="form-group">
                {{ form_label(form.dateFinReelle) }}
                {{ form_errors(form.dateFinReelle) }}
                {{ form_widget(form.dateFinReelle) }}
            </div>
            <div class="form-group">
                {{ form_label(form.urgence) }}
                {{ form_errors(form.urgence) }}
                {{ form_widget(form.urgence) }}
            </div>
            <div class="form-group">
                {{ form_label(form.etat) }}
                {{ form_errors(form.etat) }}
                {{ form_widget(form.etat) }}
            </div>
            <div class="form-group">
                {{ form_label(form.observation) }}
                {{ form_errors(form.observation) }}
                {{ form_widget(form.observation) }}
            </div>
            
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            {{ form_widget(form.enregistrer) }}
          </div>
        
    </div>
    
{{ form_end(form) }}

{% endblock %}
